{% extends 'base.html' %} 
{% load static %} 

{% block auctionactive %} active {% endblock%} 
{% block body %}
<section class="product_section layout_padding">
    <div class="container product_data">
      <div class="heading_container heading_center ">
        <h2 class="apple">On Auction</h2>
      </div>
      <div class="row product_data">
        {% for product in products%}
        <div class="col-sm-6 col-lg-4 ">
          <!-- {% csrf_token %}
          <input type="hidden" value="{{ product.id }}" class="prod_id" /> -->
          <div class="box">
            <div class="img-box">
              <img src="{{product.product_picture.url}}" alt="" />
  
              <!-- <button type="button" class="add_cart_btn">
                Add To Cart 
              </button> -->
            </div>
            <div class="detail-box">
              <h5>
                <a href="{% url 'auction_detail' product.id %}"
                  >{{product.item}}</a
                >
              </h5>
              <div class="product_info">
                <h5><span>Starting Bid Rs.</span> {{product.starting_bid}}</h5>
                <!-- <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- <div class="btn_box">
        <a href="viewmore" class="view_more-link"> View More </a>
      </div> -->
    </div>
  </section>
{% endblock%}