{% extends 'base.html' %} 
{% load static %} 
{% block active %} active 
{%endblock%} 
{% block body %}
<div class="hero_area">
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>Welcome to our shop</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                  </p>
                  <a href="about"> Read More </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{% static 'images/slider-img.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>Participate in Auctions</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                  </p>
                  <a href="auction"> View More </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{% static 'images/slider.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>Welcome to our shop</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                  </p>
                  <a href=""> Read More </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{% static 'images/slider-img.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn_box">
        <a
          class="carousel-control-prev"
          href="#customCarousel1"
          role="button"
          data-slide="prev"
        >
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#customCarousel1"
          role="button"
          data-slide="next"
        >
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<!-- product section -->

<section class="product_section layout_padding">
  <div class="container product_data">
    <div class="heading_container heading_center ">
      <h2 class="apple">Our Products</h2>
    </div>
    <div class="row">
      {% for product in products%}
      <div class="col-sm-6 col-lg-4 ">
        <div class="product_data">
        {% csrf_token %}
       <input type="hidden" value="{{ product.id }}" class="prod_id" />  
        <div class="box">
          <div class="img-box">
            <img src="{{product.product_picture.url}}" alt="" />

            <button type="button" data-product={{product.id}} class="add_cart_btn">
              Add To Cart 
            </button>
          </div>
          <div class="detail-box">
            <h5>
              <a href="{% url 'product_detail' product.id %}"
                >{{product.name}}</a
              >
            </h5>
            <div class="product_info">
              <h5><span>Rs.</span> {{product.price}}</h5>
              <div class="star_container">
                {% if product.description != 0 %}
                  <i>Rating :{{ product.description }} out of 5</i>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
    <!-- <div class="btn_box">
      <a href="viewmore" class="view_more-link"> View More </a>
    </div> -->
  </div>
</section>
<section class="product_section layout_padding">
  <div class="container product_data">
    <div class="heading_container heading_center ">
      <h2 class="apple">Recommended for You</h2>
    </div>
    <div class="row">
      {% for product in products%}
      <div class="col-sm-6 col-lg-4 ">
        <div class="product_data">
        {% csrf_token %}
       <input type="hidden" value="{{ product.id }}" class="prod_id" />  
        <div class="box">
          <div class="img-box">
            <img src="{{product.product_picture.url}}" alt="" />

            <button type="button" data-product={{product.id}} class="add_cart_btn">
              Add To Cart 
            </button>
          </div>
          <div class="detail-box">
            <h5>
              <a href="{% url 'product_detail' product.id %}"
                >{{product.name}}</a
              >
            </h5>
            <div class="product_info">
              <h5><span>Rs.</span> {{product.price}}</h5>
              <div class="star_container">
                {% if product.description != 0 %}
                  <i>Rating :{{ product.description }} out of 5</i>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
    <!-- <div class="btn_box">
      <a href="viewmore" class="view_more-link"> View More </a>
    </div> -->
  </div>
</section>


{% endblock%}
