{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>

    <!--<title>Login & Registration Form</title>-->
  </head>
  <body>
    <div class="container">
      <div class="forms">
        
        <!-- Registration Form -->
        <div class="form signup">
          <span class="title">Registration</span>

          <form action="signup" method="post">
            {% csrf_token %}
            <div class="input-field">
              <input
                type="text"
                name="name"
                placeholder="Enter your Full name"
                required
              />
              <i class="uil uil-user"></i>
            </div>

            <div class="input-field">
              <input
                type="number"
                name="number"
                placeholder="Enter your Phone Number"
                required
              />
              <i class="uil uil-user"></i>
            </div>
            <div class="input-field">
              <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
              />
              <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
              <input
                name="password1"
                type="password"
                class="password"
                placeholder="Create a password"
                required
              />
              <i class="uil uil-lock icon"></i>
            </div>
            <div class="input-field">
              <input
                name="password2"
                type="password"
                class="password"
                placeholder="Confirm a password"
                required
              />
              <i class="uil uil-lock icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>

           

            <div class="input-field button">
              <input type="submit" value="Signup" />
            </div>
          </form>
          <!-- <div>
            {% for message in messages%}
            <h4>{{message}}</h4>
            {% endfor %}
          </div> -->
          <div class="login-signup">
            <span class="text"
              >Already a member?
              <a href="login" class="text login-link">Login Now</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
      {% for flashmsg in messages %}
          {% if flashmsg.tags == 'success' %}
              alertify.set('notifier', 'position', 'top-right');
              alertify.success('{{ flashmsg }}');
          {% elif flashmsg.tags == 'error' %}
              alertify.set('notifier', 'position', 'top-right');
              alertify.error('{{ flashmsg }}');
          {% endif %}
      {% endfor %}
    </script>
  </body>
</html>
